git+https://github.com/simphony/osp-core.git#egg=osp-core
sphinx>=3.5.3
recommonmark>=0.6.0
sphinx_rtd_theme
sphinxcontrib-plantuml
nbsphinx
sphinx-copybutton
ipython
jupyter
sphinx-jsonschema
sphinx-autobuild
git+https://github.com/readthedocs/sphinx-hoverxref@master