git+https://github.com/simphony/osp-core.git@dev#egg=osp-core
sphinx==3.5.3
myst-parser==0.15.2
sphinx_rtd_theme==0.5.2
sphinxcontrib-plantuml==0.20.1
nbsphinx==0.8.2
sphinx-copybutton==0.3.1
ipython==7.31.1
jupyter==1.0.0
sphinx-autobuild==2021.3.14
sphinx-panels==0.5.2
jinja2==2.11.3
markupsafe==2.0.1
